* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

#canvas1 {
    position: absolute;
    width: 100%;
    height: 100%;

}


#indexProjectsPresentation {
    color: violet;
}

#ss1 {
    height: 90vh;

}

#index1 {}